body {
  font-family: Arial;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-button {
  border: 2px solid black;
  width: 90px;
  height: 100px;
  cursor: pointer;
  border-radius: 5px;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 50px;
}

.reset-score-button {
  margin-top: 20px;
  font-size: 15px;
  padding: 10px 15px;
  cursor: pointer;
}